---
import BaseLayout from '@layouts/BaseLayout.astro'

import { getCollection, type CollectionEntry } from 'astro:content'
import EmojiCard from '../components/EmojiCard.astro'
import EasySelectField from '../components/EasySelectField.astro'

import siteInfo from '../data/site_info'
const { title, orgName } = siteInfo

const emoji = (
  (await getCollection(
    'emoji',
    ({ data }: CollectionEntry<'emoji'>) => !data.deactivated,
  )) as CollectionEntry<'emoji'>[]
)
  .reverse()
  .slice(-50)
---

<BaseLayout {title}>
  <p class="text-xl">
    This site hosts an RSS feed containing the 50 latest custom emoji to have
    been added to {orgName}'s Zulip instance. To get notified of new emoji, use
    your favorite RSS reader or bot integration to subscribe to the url below.
  </p>
  <EasySelectField value={`${Astro.site}/feed.xml`} />
  <div>
    <h2 class="text-3xl pb-4 font-bold">Gallery</h2>
    <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
      {emoji.map((emoji) => <EmojiCard {emoji} />)}
    </div>
    <a class="bg-blue-200 p-5 rounded-sm" href="/page/2">See more!</a>
  </div>
</BaseLayout>
