---
const {
  value,
  icon = true,
  tooltipText = 'Click to copy to the clipboard',
} = Astro.props
---

<div class="flex flex-row w-full">
  <input
    type="text"
    readonly
    value={value}
    class="one-click-select font-mono bg-gray-200 rounded-sm text-sm py-0.5 px-1 cursor-copy w-auto max-w-full text-ellipsis overflow-hidden whitespace-nowrap"
    title={tooltipText}
  />
  {icon && <span class="flex-shrink-0">📋</span>}
</div>
<script>
  const easySelectFields = document.querySelectorAll('input.one-click-select')

  easySelectFields.forEach((field) => {
    field.addEventListener('click', () => {
      if (field instanceof HTMLInputElement) {
        field.select()
        navigator.clipboard.writeText(field.value).catch((err) => {
          console.error('Failed to copy text: ', err)
        })
      }
    })
  })
</script>
