---
interface Props {
  title?: string
}

import HeadNav from '@components/HeadNav.astro'
import siteInfo from 'src/data/site_info'

const { title = siteInfo.title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
  </head>
  <body class="">
    <HeadNav />
    <div class="my-10 md:w-2/3 px-5 md:px-0 mx-auto">
      <slot />
    </div>
  </body>
</html>
